body {
  line-height: 1.5;
  font-size: 17px;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: none;
}
::before,
::after {
  box-sizing: border-box;
}
img {
  border-radius: 10px;
}
.container {
  margin: 20px;
}
.first-content {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}
.left-header {
}
.left-header > h2 {
  font-family: serif;
  font-weight: bold;
  margin-bottom: 14px;
}
.left-header > p {
  font-family: sans-serif;
  margin-bottom: 30px;
  width: 500px;
}
button {
  padding: 10px;
  background-color: green;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 20px;
}
.section-1 {
  width: 250px;
  height: 300px;

  padding: 0.5rem;
  line-height: 1.5;
}
.section-header {
  text-align: start;
  padding: 5px;
  font-weight: bold;
}
.main-section {
  display: flex;
  justify-content: space-around;
}
aside > h1 {
  font-weight: 100;
  padding-bottom: 20px;
  margin-left: 50px;
}
.font-icon {
  width: 30px;
  height: 30px;
}
.asid2 {
  width: 100%;
  height: auto;
  color: white;
  background-color: rgb(44, 119, 44);
  display: flex;
  justify-content: space-between;
  border-radius: 9px;
}
.left {
  width: 50%;
  margin-top: 40px;
}
.asid2-img {
  padding: 14px;
}
.contnt {
  width: 300px;
  text-align: center;
  line-height: 2;
  padding: 10px 0;

  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.contnt:hover {
  border: 1px solid black;
}
.mony {
  margin-right: 30px;
}
.asid3 {
  display: flex;
  justify-content: space-around;
}
.asid3-title {
  font-family: serif;
  font-size: 30px;
  font-weight: bold;
  margin: 19px 0;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(244, 236, 236);
  border-radius: 4px;
}
